/* You can add global styles to this file, and also import other style files */

*{
    margin: 2px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: cornflowerblue;
    
}

div {
    border: rgb(11, 11, 225) solid ; 
}
body{
    padding-bottom: 450px;
    background-color: rgb(199, 188, 188);
}